.common-nav{
  height: 100%;
  width: 20vw;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.common-nav-list{
  gap: 4px;
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.common-nav-list-items{
  width: 100%;
  border-radius: 8px;
  list-style: none;
  display: flex;
}
.common-nav-logo{
  font-size: 2rem;
  font-weight: 900;
}
.active, .common-nav-link{
  color: #22222255;
  border-radius: 8px;
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .5s all ease;
}
.active{
  background-color: #ebebeb;
  color: #000;
}
.active svg{
  fill: #00000094;
}
.common-nav-link:hover{
  background-color: #ebebeba2;
}
.common-nav-list-items p{
  flex: 2;
}
.common-nav-list-items svg{
  flex: 1;
}
.common-profile-and-logout{
  display: flex;
  width: 50%;
  height: 3em;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 4rem;
  overflow: hidden
}
.common-logout{
  height: 100%;
  background-color: transparent;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transition: .5s all ease;
}
.common-logout svg{
  fill: #00000055;
}
.common-profile-link{
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s all ease;
}
.common-profile-link svg{
  fill: #00000055;
}
.common-profile-link:hover{
  background-color: rgba(65, 105, 225, 0.2);
}
.common-profile-link:hover svg{
  fill: royalblue;
}
.common-logout:hover{
  background-color: rgba(255, 0, 0, 0.2);
}
.common-logout:hover svg{
  fill: red;
}
.common-nav-ruler{
  height: 100%;
  color: #ebebeb;
  width: 1px;
}